<div>
    <a
        class="singerLink"
        href="{{homepage}}"
        target="_blank"
        rel="noopener noreferrer"
    >{{capitalizeFirst first_name}} {{capitalizeFirst last_name}} </a>

    <span>
        {{age}}
    </span>

</div>