{{> header}}

<main>
    <img class="clubImg" src="/assets/img/pizzaclub_sm.jpg" alt="Pizza club">
    <p>{{text}}</p>
    {{#if error}}
    <p>{{error}} </p>
    {{/if}}
    {{>forms/proedit}}
    <a class="signersLink" href="/thank-you"><p>Back home</p></a>
</main>
<script src="/pass-info.js"></script>
{{> footer}}