{{> header }}
<main>

    <img class="firstImg" src="/assets/img/nopianapplepizza.jpg" alt="">
    <h2>{{text}}</h2>
    {{> forms/sing}}
</main>
{{> footer }}
<script
            src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"
        ></script>
<script src="/signature.js"></script>