{{> header }}
<main>
    <h2>{{text}}</h2>
    {{> forms/sing}}
</main>
{{> footer }}
<script
            src="https://cdn.jsdelivr.net/npm/signature_pad@3.0.0-beta.4/dist/signature_pad.umd.min.js"
            integrity="sha256-XEJuxxEh99IMbq0rzl1zKwjjfYc/nrkRgKjWM6bSwuU="
            crossorigin="anonymous"
        ></script>
<script src="/signature.js"></script>