{{> header}}
<main>
    <h2>{{{text}}} </h2>
    <img class="logoImg" src="/assets/img/pizzaclub_sm.jpg" alt="clublogo">
    <p>if you're allready register please  <a href="/login">log-in</a></p>
    {{> forms/reg}}
</main>
{{> footer}}