{{> header }}
<main>
    <img class="thirdImg" src="/assets/img/pizzapinapple.jpg" alt="shhhh">
    <h2 class="mbText">{{text}}</h2>
    <p class="mbText">{{headcount}}</p>
    {{#each signatures}}
    {{> signature}}
    {{/each}}
</main>
{{> footer }}