{{> header}}

<main>
    <img class="thirdImg" src="/assets/img/pizzapinapple.jpg" alt="shhhh">
    <h2 class="mbText">{{text}} {{capitalizeFirst city}} </h2>
    {{#each signatures}}
    {{> signaturecity}}
    {{/each}} 
    <a class="signersLink" href="/signatures"><p>Back to list</p></a>
</main>

{{> footer}}