{{> header}}

<main>
    <img class="thirdImg" src="/assets/img/pizzapinapple.jpg" alt="shhhh">
    <h2 class="mbText">{{text}} </h2>
    {{#each signatures}}
    {{> signaturecity}}
    {{/each}} 
    <a class="signersLink" href="/thank-you"><p>Back home</p></a>
</main>

{{> footer}}