* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    /* background-image: url("./assets/img/html.jpg");
    background-size: cover; */
    background-color: cadetblue;
    color: white;
}
