<form action="/login" method="POST">

    <div class="formEmail">
        <label for="email">E-Mail</label>
        <input
            type="email"
            name="email"
            placeholder="E-M@il"
            value="{{email}}"
            required
        />
    </div>

    <div class="formPassword">
        <label for="password">Password</label>
        <input
            type="password"
            name="password"
            placeholder="Password"
            value="{{password}}"
            required
        />
    </div>

    <div class="formBtn">
        <button class="btn" id="submit" type="submit">Log IN</button>
    </div>

</form>