<form action="/register" method="POST">
    <div class="formFirst">
        <label for="first">First Name</label>
        <input
            type="text"
            name="first_name"
            placeholder="First name"
            value="{{first}}"
            autocomplete="name"
            required
        />
    </div>

    <div class="formLast">
        <label for="last">Last Name</label>
        <input
            type="text"
            name="last_name"
            placeholder="Last name"
            value="{{last}}"
            autocomplete="family-name"
            required
        />
    </div>

    <div class="formEmail">
        <label for="email">E-Mail</label>
        <input
            type="email"
            name="email"
            placeholder="E-M@il"
            value="{{email}}"
            autocomplete="email"
            required
        />
    </div>

    <div id="message">
        <p>Password must contain the following:</p>
        <p id="letter" class="invalid">a lowercase letter</p>
        <p id="capital" class="invalid">a capital (uppercase) letter</p>
        <p id="number" class="invalid">a number</p>
        <p id="length" class="invalid">minimum 8 - 15 Max characters</p>
    </div>

    <div class="formPassword">
        <label for="password">Password</label>
        <input
            id="psw"
            type="password"
            name="password"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,15}$"
            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 up to 15 characters"
            placeholder="Password"
            value="{{password}}"
            autocomplete="new-password"
            required
        />
    </div>

    <div class="formBtn">
        <button class="btn" id="submit" type="submit">Register</button>
    </div>

</form>