<form action="/petition" method="POST">

    <div class="fromCanvas">
        <label for="signature">Pleas signature here</label><br />
        <canvas id="signature-pad"></canvas>
        <input type="hidden" name="signature" id="sigimg" value="" />
    </div>

    <div class="formBtn">
        <button class="btn" id="submit" type="submit">Sign up</button>
    </div>

</form>
<button class="btn" id="clear">Clear signature</button>