<form class="fromCanvas" action="/petition" method="POST">

    <div>
        <label for="signature">Pleas signature here</label><br />

        <canvas id="signature-pad" width="500" height="150"></canvas>

        <input type="hidden" name="signature" id="sigimg" value="" />
    </div>

    <div class="formBtn">
        <button class="btn" id="submit" type="submit">Sign up</button>
    </div>

</form>
<button class="btn" id="clear">Clear signature</button>

<form action="/later" method="POST">
    <button class="btn" id="later" type="submit"><p>not yet</p></button>
</form>