<form action="/petition" method="POST">
    <div class="formFirst">
        <label for="first">First Name</label>
        <input
            type="text"
            name="first_name"
            placeholder="First name"
            value="{{first}}"
            required
        />
    </div>

    <div class="formLast">
        <label for="last">Last Name</label>
        <input
            type="text"
            name="last_name"
            placeholder="Last name"
            value="{{last}}"
            required
        />
    </div>

    <div class="fromCanvas">
        <label for="signature">Pleas signature here</label><br />
        <canvas id="signature-pad"></canvas>
        <input type="hidden" name="signature" id="sigimg" value="" />
    </div>

    <div class="formBtn">
        <button class="btn" id="submit" type="submit">Sign up</button>
    </div>

</form>
<button class="btn" id="clear">Clear signature</button>